#NavigationFooter {
    background-color: rgb(40, 166, 160);
    bottom: 0% !important; 
    right: 0% !important;
    position: fixed !important; 
    width: 100% !important; 
    z-index: 100 !important;
}

.footerIconContainer{
    border-color: white;
    color: white;
    height: 100%;
}

.footerIconContainerSelected{
    border-color: #ee7e2c;
    color: #ee7e2c;

    height: 100%;
}

#FeedBackBar {
    bottom: 50px !important; 
    right: 0% !important;
    position: fixed !important; 
    width: 100% !important; 
    z-index: 100 !important;
}


