#LocationSearchingBar {
    background-color: rgb(40, 166, 160);
    margin-top: 40px;
}

#buttonSearch {
    background-color: #ee7e2c;
    width: 100%;
    color: white;
}

#LocationSearchingBarSearchView {
    background-color: rgb(40, 166, 160);
}