#NoElement {
    text-align: center;
    color: rgb(179, 179, 179)
}

.simpleText {
    color:rgb(179, 179, 179)
}

.greenText {
    color: rgb(40, 166, 160);
}

.savedSearchCard:hover{
    cursor: hand;
    cursor: pointer;
    opacity: .9; 
}