.footerIcon{
    color: white;
   
}


.leftButtonSearchView{
    background-color: #ee7e2c;
    color: white;
    position: fixed;  
    z-index: 100;
    margin: 5;
}

#SearchSearchView{
    top: 10%; 
    right: 5%;
}

#UserSearchView{
    top: 17%; 
    right: 5%;
}

#SearchViewHeader{
    top: 0% !important; 
    right: 0% !important;
    position: fixed !important; 
    width: 100% !important; 
    z-index: 100 !important;
}

.underSearchBarButton{
    color: #ee7e2c !important;
    border-color: #ee7e2c !important;
}



#SearchUtilsButtons{
    background-color: white !important;
}

/* Filters */

.selectedAgreementFilters:first-child{
    text-align: center;
    color: rgb(40, 166, 160);
}

.selectedAgreementFilters:last-child{
    background-color: rgb(40, 166, 160);
    height: 2px;
    width: 100%;
}

.notSelectedAgreementFilters:first-child{
    text-align: center;
    color: rgb(179, 179, 179)
}

.notSelectedAgreementFilters:last-child{
    background-color: rgb(179, 179, 179);
    height: 2px;
    width: 100%;
}

#CounterButtonFooter{
    background-color: white !important;
    bottom: 0% !important; 
    right: 0% !important;
    position: fixed !important; 
    width: 100% !important; 
    z-index: 100 !important;
    padding: 5px;
    border-top: 1px solid rgb(179, 179, 179);
}

#CounterButton{
    color: #ee7e2c !important;
    border-color: #ee7e2c !important;
    width: 100%;
}

.selectFilterOption{
    color: rgb(115, 115, 115); 
}

.selectFilterOption:focus{
    border-color: rgb(40, 166, 160);
    box-shadow: none; 
    -webkit-box-shadow: none;
}

.greenButtonFilter,  .greenButtonFilter:hover, .greenButtonFilter:focus{
    border-color: rgb(40, 166, 160);
    color:rgb(40, 166, 160);
    box-shadow: none !important; 
    -webkit-box-shadow: none !important;
    width: 100%;
}

.greenButtonFilterSelected{
    box-shadow: none !important; 
    -webkit-box-shadow: none !important;
    background-color: rgb(40, 166, 160);
    color: white !important;
    width: 100%;
}

.selectFilterOption option{
    color: rgb(179, 179, 179);
}

.fromToText{
    color: rgb(179, 179, 179);
}

.fromToText2 {
    color: rgb(115, 115, 115);
}

input {
    box-shadow: none !important; 
    -webkit-box-shadow: none !important;
}

.priceInput:focus {
    border-color: rgb(40, 166, 160);

}

/* 
#CategoryFilterOption option:{
    background-color: rgb(40, 166, 160) !important; 
} */
/* .underSearchBarButton:hover:focus{
    background-color: #ee7e2c !important;
    color: white !important;
    outline: 0 !important;
} */

/*
{{ height: '2px', width: '100%', backgroundColor: a.color, opacity: a.selected ? 1 : 0 }}
*/