/* #HousesSearch{
    background-color: lightgray;
} */

.houseCardTitle{
    color: rgb(40, 166, 160);
}

/* .houseCard{
    border-top: '5px' !important;
    border-color: rgb(115, 115, 115) !important;
} */

#HousesSearch{
    margin-bottom: 75px;
}

.houseCardDescription{
    height: 150px;
    max-height: 150px;
    width: 100%; 
    overflow: hidden; 
    color: rgb(115, 115, 115); 
}

.houseCardPrice{
    color:rgb(179, 179, 179)
}

.houseCardIcon{
    color:rgb(179, 179, 179)   
}

#houseCardCharacteristics div{
    color:rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
    display: inline-block;
    margin-left: 2px;
    padding: 0 10px 0 10px ;
}

#houseCardCharacteristics :last-child{
    border-right: 0px !important;
}


.actionButton, .actionButton:focus{
    border-color: #ee7e2c;
    color: #ee7e2c;
    box-shadow: none !important; 
    -webkit-box-shadow: none !important;
}


.actionButtonSelected, .actionButtonSelected:focus{
    border-color: #ee7e2c;
    color: #ee7e2c;
    box-shadow: none !important; 
    -webkit-box-shadow: none !important;
}