@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.icon{
    height: 100ch;
}
  
.topnav {
   overflow: hidden;
   background-color: rgb(40, 166, 160);
}

.logoImg{
  max-height: 20ch;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
  height: min-content;
}
  
.topnav .a:hover {
  background-color: #ddd;
  color: black;
}
   
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  } /*Copre a successivi al primo*/
  
  .topnav #myNav{
    height: min-content;
  }

  .topnav a.icon {
    float: right;
    display: block;
    background-color: rgb(40, 166, 160);
  }

  .logoImg{
    max-width: 80%;
  }

  .topnav.responsive {position: relative;}
  
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(40, 166, 160);
    text-shadow: 0 0 3px #000;
  }
  
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }

}