.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #ffffff;
  min-height:20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2%;
}

.container {
  margin-bottom: 10%;
}

h1{
  color: rgb(40, 166, 160);
  font-style: italic;
}

button{
  font-size: medium;
  border-radius: 10%;
  border-color: rgb(40, 166, 160);
  height: auto;
}

table{
  font-size: medium;
  border: 2px solid rgb(40, 166, 160);
  height: auto;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

th {
  border-bottom: 1.5px solid black;
}

@media screen and (max-width: 600px) {
  table{
    font-size: small;
  }
}

.in_the_middle{
  width: 10px;
  height: 10px;
  bottom: 50% !important; 
  right: 50% !important;
  position: fixed !important; 
  z-index: 100 !important;
  margin-top: -10px;
  margin-left: -10px;
}

.in_the_middle2{
  bottom: 50% !important; 
  right: 40% !important;
  position: fixed !important; 
  z-index: 100 !important;
  margin-top: -10px;
  margin-left: -10px;
}
