@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.panel {
    margin-bottom: 5%;
    background-color: #fff;
    border-radius: 4px;
    border-style:solid;
    border-width:thick;
    padding: 1%;
    box-shadow: 2px 3px;
    border-color:rgb(35, 150, 144);
}

.panel-heading {
    background-color: rgb(40 166 160 / 50%);
    text-align: center;
}

/*check rispetto a filter di Simon*/
select/*, input*/{
    padding: 1%;
    width: 80%;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5%;
}

.insertDB{
    padding: 20px;
    text-shadow: 1px 0px rgb(35, 150, 144);
}