.subnav {
  float: left;
  overflow: hidden;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: rgb(40, 166, 160);
  width: auto;
  padding: 1%;
}

.subnav-content a {
  float: left;
  color: white;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

table {
  margin-bottom: 5%;
}