
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.content{
  width: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
    text-decoration: none
}

.nav_list{
  display: none;
}

.nav_list.responsive{
  display: block;
  padding-top: 10px;
}

#headTog {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #ee7e2c;
    z-index: 100;
    height: 2.5rem
}

.header_toggle {
    font-size: 1.5rem;
    cursor: pointer
}

.l-navbar {
    background-color: #ee7e2c;
    margin-bottom: 1%;
    width: 100%;
    z-index: 100;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    position: relative;
    color: #f2d7b6;
    margin-bottom: 1.5rem;
    transition: .3s;
    font-size: 15pt;
    cursor: pointer;
}

.nav_link:hover {
    color: #F7F6FB
}

.container {
  margin-top: 3rem;
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 1px 5px;
  font-size: 12px;
  position: sticky; 
  top: 0;
  right: 0;
}

/*Schermo piccolo*/
@media screen and (max-width: 600px) {
  .content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: small;
  }
 
  .nav_list {
    font-size: 2ch;
  }

}